<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App, All rights reserved.</p>
  <p>All images used are believed to be in "Fair Use". Please notify the author if any are not and they will be removed.</p>
  <p><a href="/inv/error" title="Trigger a 500 error">Error Test Link</a></p>
</footer>