<h1 class="welcome-title">Welcome to CSE Motors!</h1>

<div class="vehicle-info">
        <div class="car-details">
            <p>DMC Delorean</p>
            <p>3 Cup Holders<br>
                Superman doors<br>
                Fuzzy dices<br>
            </p>
            <img src="/images/site/own_today.png" alt="Own Today Icon" class="today">
        </div>
        <img src="/images/vehicles/delorean.jpg" alt="hero" class="vehicle">
    </div>