<h1 class="welcome-title">Welcome to CSE Motors!</h1>

<div class="vehicle-info">
    <div class="car-details">
        <p>DMC Delorean</p>
            <p>3 Cup Holders<br>
                Superman doors<br>
                Fuzzy dices<br>
            </p>
            <img src="/images/site/own_today.png" alt="Own Today Icon" class="today">
    </div>
    <img src="/images/vehicles/delorean.jpg" alt="hero" class="vehicle">
</div>
<div class="grid-container">
    <section class="vehicle-reviews">
        <h2>DMC Deloream Reviews</h2>
        <ul>
            <li>"So fast its almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling Marty McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>

    <section class="vehicle-upgrades">
        <h3 class="upgrade-title">Delorean Upgrades</h3>

        <div class="flux vehicle-upgrade_container">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            <a href="/" title="Go to Flux Capacitor">Flux Capacitor</a>
        </div>
        <div class="flame vehicle-upgrade_container">
            <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
            <a href="/" title="Go to Flame Decals">Flame Decals</a>
        </div>
        <div class="bumper vehicle-upgrade_container">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            <a href="/" title="Go to Bumper Stickers">Bumper Stickers</a>
        </div>
        <div class="hub vehicle-upgrade_container">
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
            <a href="/" title="Go to Hub Caps">Hub Caps</a>
        </div>
    </section>
</div>